<div class="container">
    <div class="row mb-2 mt-2 text-center">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h5>User Management Portal</h5>
            <small *ngIf="titleAction$ | async as title">{{ title }}</small>
        </div>
        <div class="col-md-4">
        </div>
    </div>

    <div class="row">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <div class="col-md-1">
                <li class="nav-item" role="presentation">
                    <button (click)="changleTile('Users')" class="active btn btn-info" id="pills-home-tab"
                        data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab"
                        aria-controls="pills-home" aria-selected="true"><i class="fa fa-users"></i>Users</button>
                </li>
            </div>
            <div [hidden]="!isAdmin" class="col-md-2 ">
                <li class="nav-item" role="presentation">
                    <button (click)="changleTile('Settings')" class="btn" id="pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                        aria-selected="false"><i class="fa fa-cogs"></i>Settings</button>
                </li>
            </div>
            <div class="col-md-7"></div>
            <div class="col-md-2">
                <li class="nav-item nav-link welcome-item float-end" role="presentation">
                    <a class="nav-item nav-lin btn-info" (click)="changleTile('Profile')" id="pills-contact-tab"
                        data-bs-toggle="pill" data-bs-target="#pills-contact" role="tab" aria-controls="pills-contact"
                        aria-selected="false"> <i class="fa fa-user"></i> Welcome,
                        {{user?.firstName}}
                    </a>
                </li>
            </div>


        </ul>
    </div>


    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

            <div class="row">
                <div class="col-md-7">
                </div>
                <div class="col-md-5 float-end">
                    <div class="input-group mb-3 top-input-group">
                        <form #searchForm="ngForm" class="top-panel">
                            <input type="search" ngModel name="searchInput" class="form-control search-input"
                                (ngModelChange)="searchUsers(searchForm.value.searchInput)" placeholder="Search"
                                aria-label="Search">
                        </form>
                        <button [hidden]="!isManager" type="button" class="btn btn-info top-panel" id="openNewUser"
                            data-bs-toggle="modal" data-bs-target="#newUserModal">
                            <i class="fa fa-plus"></i>New User
                        </button>

                        <button type="button" (click)="getUsers(true)" class="btn btn-info top-panel">
                            <i *ngIf="refreshing" class="fas fa-sync fa-spin"></i><i *ngIf="!refreshing"
                                class="fas fa-sync"></i>
                        </button>
                    </div>
                </div>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Photo</th>
                        <th scope="col">User ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody *ngFor="let appUser of users">
                    <tr>
                        <td>
                            <img height="40" width="40" src="{{appUser?.profileImageUrl}}"
                                class="rounded-circle img-fluid img-thumbnail" />
                        </td>
                        <td (click)="onSelectUser(appUser)">{{appUser?.userId}}</td>
                        <td (click)="onSelectUser(appUser)">{{appUser?.firstName}}</td>
                        <td (click)="onSelectUser(appUser)">{{appUser?.lastName}}</td>
                        <td (click)="onSelectUser(appUser)">{{appUser?.username}}</td>
                        <td (click)="onSelectUser(appUser)">{{appUser?.email}}</td>
                        <td>
                            <span [hidden]="!appUser?.active" class="badge bg-success">Active</span>
                            <span [hidden]="appUser?.active" class="badge bg-warning text-dark">Inactive</span>

                        </td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-outline-info actions" (click)="onSelectEditUser(appUser)"><i
                                        class="fas fa-edit"></i></button>
                                <button [hidden]="!isAdmin" class="btn-actions actions"
                                    (click)="onDeleteUser(appUser.username)"><i class="fas fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>

            <!-- Button trigger modal -->
            <button [hidden]="true" type="button" class="btn btn-primary" id="openUserInfo" data-bs-toggle="modal"
                data-bs-target="#userModal">
                Launch demo modal
            </button>
        </div>
        <div [hidden]="!isAdmin" class="tab-pane fade" id="pills-profile" role="tabpanel"
            aria-labelledby="pills-profile-tab">
            <div>
                <form #resetPasswordForm="ngForm" (ngSubmit)="onResetPassword(resetPasswordForm)">
                    <fieldset>
                        <legend>User password management</legend>
                        <div class="form-group">
                            <label for="reset-password-email">Email address</label>
                            <input type="email" name="reset-password-email" required ngModel class="form-control"
                                placeholder="Enter email (example@email.com)" />
                            <small class="form-text text-muted">We'll never share your email with anyone</small>
                        </div>
                        <button type="submit" [disabled]="false" class="btn btn-primary">
                            <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>
                            <span *ngIf="refreshing">Loading ...</span>
                            <span *ngIf="!refreshing">Reset Password</span>
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div class="container">
                <div class="row flex-lg-nowrap">


                    <div class="col">
                        <div class="row">
                            <div class="col mb-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="e-profile">
                                            <div class="row">
                                                <div class="col-12 col-sm-auto mb-3">
                                                    <div class="mx-auto" style="width: 140px;">
                                                        <div
                                                            class="d-flex justify-content-center align-items-center rounded">
                                                            <img class="rounded" height="135" width="135"
                                                                src="{{user?.profileImageUrl}}" alt="">
                                                        </div>
                                                        <div *ngIf="fileStatus?.status === '[progress]'"
                                                            class="progress mt-1">
                                                            <div class="progress-bar bg-info" role="progressbar"
                                                                aria-valuenow="0" aria-valuemax="100"
                                                                [style.width.%]="fileStatus?.percentage">
                                                                {{fileStatus?.percentage}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                                    <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                        <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{user?.firstName}}
                                                            {{user?.lastName}}</h4>
                                                        <p class="mb-0">{{user.username}}</p>
                                                        <div class="text-muted"><small>Last seen: {{user.lastLoginDate |
                                                                date:'medium'}}</small>
                                                        </div>
                                                        <div class="mt-2">
                                                            <button (click)="updateProfileImage()"
                                                                class="btn btn-primary" type="button">
                                                                <i class="fa fa-fw fa-camera"></i>
                                                                <span>Change Photo</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="text-center text-sm-right">
                                                        <div class="text-muted"><small>Joined {{user?.joinDate |
                                                                date:'mediumDate'}}</small></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tab-content pt-3">
                                                <div class="tab-pane active">
                                                    <form #profileUserForm="ngForm"
                                                        (ngSubmit)="onUpdateCurrentUser(profileUserForm.value)"
                                                        class="form" novalidate="">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Full Name</label>
                                                                            <input class="form-control" type="text"
                                                                                name="firstName"
                                                                                [(ngModel)]="user.firstName">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Last name</label>
                                                                            <input class="form-control" type="text"
                                                                                name="lastName"
                                                                                [(ngModel)]="user.lastName">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Username</label>
                                                                            <input class="form-control" type="text"
                                                                                name="username"
                                                                                [(ngModel)]="user.username">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Email</label>
                                                                            <input class="form-control" type="text"
                                                                                name="email" [(ngModel)]="user.email">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col mb-3">
                                                                        <div class="form-group">
                                                                            <label>Role</label><small
                                                                                [hidden]="isAdmin">(read only)</small>
                                                                            <select name="role" required
                                                                                [(ngModel)]="user.role"
                                                                                class="form-control">
                                                                                <option [hidden]="!isAdmin"
                                                                                    value="ROLE_USER">USER</option>
                                                                                <option [hidden]="!isAdmin"
                                                                                    value="ROLE_HR">HR</option>
                                                                                <option [hidden]="!isAdmin"
                                                                                    value="ROLE_MANAGER">MANAGER
                                                                                </option>
                                                                                <option [hidden]="!isAdmin"
                                                                                    value="ROLE_ADMIN">ADMIN</option>
                                                                                <option [hidden]="!isAdmin"
                                                                                    value="ROLE_SUPER_ADMIN">SUPER ADMIN
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12 col-sm-6 mb-3">
                                                                <div class="row">
                                                                    <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                                                                        <div class="mb-2"><b>Account Settings</b></div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div
                                                                                    class="custom-controls-stacked px-2">
                                                                                    <div
                                                                                        class="custom-control custom-checkbox">
                                                                                        <input name="active"
                                                                                            type="checkbox"
                                                                                            [(ngModel)]="user.active"
                                                                                            class="custom-control-input">
                                                                                        <label
                                                                                            class="custom-control-label">Active</label>
                                                                                    </div>
                                                                                    <div
                                                                                        class="custom-control custom-checkbox">
                                                                                        <input name="notLocked"
                                                                                            type="checkbox"
                                                                                            [(ngModel)]="user.nonLocked"
                                                                                            class="custom-control-input">
                                                                                        <label
                                                                                            class="custom-control-label">Unlocked</label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                                                                <div class="row">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col d-flex justify-content-end">
                                                                <button class="btn btn-primary" type="submit" [disabled]="!isManager">
                                                                    <i *ngIf="refreshing"
                                                                        class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
                                                                    <span *ngIf="refreshing">Loading...</span>
                                                                    <span *ngIf="!refreshing">Save Changes</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-3 mb-3">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="px-xl-3">
                                            <button (click)="onLogOut()" class="btn btn-block btn-secondary">
                                                <span>Logout</span>
                                                <i class="fas fa-sign-in-alt ml-1"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title font-weight-bold">Permissions From Role</h6>
                                        <h6 *ngFor="let authority of user?.authorities" class="card-text">{{authority}}
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <div>{{selectedUser?.firstName }} {{selectedUser?.lastName}}</div>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4 ms-auto"> <img height="100" width="100"
                                    src="{{selectedUser?.profileImageUrl}}"
                                    class="rounded-circle img-fluid img-thumbnail" />
                            </div>
                            <div class="col-md-4 ms-auto">
                                <div>{{selectedUser?.firstName }} {{selectedUser?.lastName}}</div>
                                <div>{{selectedUser?.username}}</div>
                                <div>Status: <span [hidden]="!selectedUser?.active"
                                        class="badge bg-success">Active</span>
                                    <span [hidden]="selectedUser?.active"
                                        class="badge bg-warning text-dark">Inactive</span>
                                </div>
                                <div><small>Last login: {{selectedUser?.lastLoginDate | date:'medium'}}</small>
                                </div>
                            </div>
                            <div class="col-md-4 ms-auto">
                                <div class="text-muted text-center">
                                    <small>Joined {{selectedUser?.joinDate | date: 'mediumDate'}}</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <ul class="list-group">
                                <li class="list-group-item"></li>
                                <li class="list-group-item"><i
                                        class="fa fa-id-badge float-end"></i>{{selectedUser?.userId
                                    }}
                                </li>
                                <li class="list-group-item"><i
                                        class="fa fa-envelope float-end"></i>{{selectedUser?.email }}
                                </li>
                                <li class="list-group-item"><i
                                        class="fas fa-shield-alt float-end"></i>{{selectedUser?.role.substring(5) }}
                                </li>
                                <li class="list-group-item"><i
                                        class="fas fa-sign-in-alt float-end"></i>{{selectedUser?.joinDate
                                    | date:'medium' }}</li>

                                <li class="list-group-item">
                                    <span [hidden]="selectedUser?.nonLocked">
                                        <i class="fa fa-lock float-end" style="color: red;">
                                        </i>
                                        Account Locked
                                    </span>
                                    <span [hidden]="!selectedUser?.nonLocked">
                                        <i class="fa fa-unlock float-end" style="color: green;">
                                        </i>
                                        Account Unlocked
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- New user button -->
    <button [hidden]="true" type="button" class="btn btn-primary" id="openNewUser" data-bs-toggle="modal"
        data-bs-target="#newUserModal">
        Launch demo modal
    </button>

    <!-- New user Modal -->
    <div [hidden]="!isManager" class="modal fade" id="newUserModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <div><b>New user</b></div>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form #newUserForm="ngForm" (ngSubmit)="onAddNewUser(newUserForm)">
                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <label for="firstNameInput">First Name</label>
                                    <input type="text" placeholder="First name" class="form-control" id="firstNameInput"
                                        ngModel #firstnameInput="ngModel" required="true" name="firstName">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <label for="lastNameInput">Last Name</label>
                                    <input type="text" placeholder="Last name" class="form-control" id="lastNameInput"
                                        ngModel #lastNameInput="ngModel" required="true" name="lastName">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <label for="usernameInput">Username</label>
                                    <input type="text" placeholder="Username" class="form-control" id="usernameInput"
                                        ngModel #usernameInput="ngModel" required="true" name="username">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <label for="emailInput">Email</label>
                                    <input type="email" placeholder="Email" class="form-control" id="emailInput" ngModel
                                        #emailinput="ngModel" required="true" name="email">
                                </div>
                            </div>

                            <div *ngIf="isAdmin" class="row mb-3">
                                <label for="authority">Role</label>
                                <select class="form-select authority-select" aria-label="Role" name="role" required
                                    ngModel="ROLE_USER">
                                    <option value="ROLE_USER">USER</option>
                                    <option value="ROLE_HR">HR</option>
                                    <option value="ROLE_MANAGER">MANAGER</option>
                                    <option value="ROLE_ADMIN">ADMIN</option>
                                    <option value="ROLE_SUPER_ADMIN">SUPER ADMIN</option>
                                </select>
                            </div>

                            <div *ngIf="!isAdmin" class="row mb-3">
                                <label for="authority">Role</label>
                                <select class="form-select authority-select" aria-readonly="true" aria-label="Role"
                                    name="role" required ngModel="USER">
                                </select>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="activeCheckbox"
                                            name="active" ngModel>
                                        <label class="form-check-label" for="activeCheckbox">
                                            Active
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="unlockedCheckbox"
                                            name="isNonLocked" ngModel>
                                        <label class="form-check-label" for="unlockedCheckbox">
                                            Unlocked
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="formFile" class="form-label">Profile picture</label>
                                <input class="form-control avatar-intput-file" type="file" accept="image/*"
                                    name="profileImage"
                                    (change)="onProfileImageChange($any($event.target).files[0].name, $any($event.target).files[0])"
                                    id="formFile">
                            </div>
                            <button type="submit" style="display: none;" id="new-user-save"></button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="new-user-close"
                            data-bs-dismiss="modal">Close</button>
                        <button type="submit" (click)="saveNewUser()" [disabled]="newUserForm.invalid"
                            class="btn btn-primary">Save changes</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit user button -->
    <button [hidden]="true" type="button" class="btn btn-primary" id="editUserButton" data-bs-toggle="modal"
        data-bs-target="#editUserModal">
    </button>

    <!-- Edit user modal -->
    <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <div><b>Edit user {{editUser?.username}}</b>
                            <small [hidden]="!isManager"> Read only</small>
                        </div>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form #editUserForm="ngForm" (ngSubmit)="onUpdateUser(editUserForm)">
                            <div class="row mb-3">
                                <label for="firstNameInput">First name</label>
                                <input [disabled]="!isManager" class="form-control edit-input" type="text"
                                    name="firstNameInput" required [(ngModel)]="editUser.firstName">
                            </div>
                            <div class="row mb-3">
                                <label for="lastNameInput">Last Name</label>
                                <input [disabled]="!isManager" class="form-control edit-input" type="text"
                                    name="lastNameInput" required [(ngModel)]="editUser.lastName">

                            </div>
                            <div class="row mb-3">
                                <label for="usernameInput">Username</label>
                                <input [disabled]="!isManager" class="form-control edit-input" type="text"
                                    name="usernameInput" required [(ngModel)]="editUser.username">
                            </div>
                            <div class="row mb-3">

                                <label for="emailInput">Email</label>
                                <input [disabled]="!isManager" class="form-control edit-input" type="email"
                                    name="emailInput" required [(ngModel)]="editUser.email">

                            </div>

                            <div class="row mb-3">
                                <label for="authority">Role <small [hidden]="isAdmin">(read only)</small></label>
                                <select [disabled]="!isAdmin" class="form-select authority-select" aria-label="Role"
                                    name="authority" required [(ngModel)]="editUser.role">
                                    <option value="ROLE_USER">USER</option>
                                    <option value="ROLE_HR">HR</option>
                                    <option value="ROLE_MANAGER">MANAGER</option>
                                    <option value="ROLE_ADMIN">ADMIN</option>
                                    <option value="ROLE_SUPER_ADMIN">SUPER ADMIN</option>
                                </select>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input [disabled]="!isManager" class="form-check-input" name="activeCheckbox" type="checkbox" required
                                            [(ngModel)]="editUser.active">
                                        <label class="form-check-label" for="activeCheckbox">
                                            Active <small [hidden]="isManager">(read only)</small>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input [disabled]="!isManager" class="form-check-input" name="unlockedCheckbox" type="checkbox" required
                                            [(ngModel)]="editUser.nonLocked">
                                        <label class="form-check-label" for="unlockedCheckbox">
                                            Unlocked <small [hidden]="isManager">(read only)</small>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="formFile" class="form-label">Profile picture</label>
                                <input [disabled]="!isManager" class="form-control avatar-intput-file" type="file" accept="image/*"
                                    name="profileImage"
                                    (change)="onProfileImageChange($any($event.target).files[0].name, $any($event.target).files[0])"
                                    id="formFile" name="formFile">
                            </div>
                            <button type="submit" style="display: none;" id="user-edit-button"></button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="user-edit-close"
                            data-bs-dismiss="modal">Close</button>
                        <button type="submit" (click)="editCurrentUser()" [disabled]="editUserForm.invalid || !isManager"
                            class="btn btn-primary">Save changes</button>

                    </div>
                </div>
            </div>
        </div>

        <form enctype="multipart/form-data" style="display:none;">
            <input type="file"
                (change)="onProfileImageChange($any($event.target).files[0].name, $any($event.target).files[0]); onUpdateProfileImage()"
                name="profile-image-input" id="profile-image-input" placeholder="file" accept="image/*" />
        </form>
    </div>