<div class="container">
    <div class="row mb-2 mt-2 text-center">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h5>User Management Portal</h5>
            <small *ngIf="titleAction$ | async as title">{{ title }}</small>
        </div>
        <div class="col-md-4">
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">UMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" (click)="changleTile('Users')"><i class="fa fa-users"></i>User</a>
                <a class="nav-item nav-link" (click)="changleTile('Settings')"> <i class="fa fa-cogs"></i>Settings</a>
                <a class="nav-item nav-link move-right" (click)="changleTile('Profile')">Welcome, {{user?.firstName}}
                    <i class="fa fa-user"></i>
                </a>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
            <div class="input-group mb-3 top-input-group">
                <input type="text" class="form-control top-panel" placeholder="Search" aria-label="Search">
                <button type="button" class="btn btn-info top-panel" data-toggle="modal">
                    <i class="fa fa-plus"></i>New User
                </button>

                <button type="button" class="btn btn-info top-panel">
                    <i class="fas fa-sync fa-spin"></i><i class="fas fa-sync"></i>
                </button>
            </div>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">User ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>1132123</td>
                <td>Bartek</td>
                <td>Smalec</td>
                <td>infamia</td>
                <td>smalecbartlomiej@gmail.com</td>
                <td>
                    <span class="badge bg-success">Active</span>
                    <span class="badge bg-warning text-dark">Inactive</span>
                </td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-outline-info actions"><i class="fas fa-edit"></i></button>
                        <button class="btn-actions actions"><i class="fas fa-trash"></i></button>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</div>